:root {
  --pink-color: #DC88A4;
  --green-color: #557571;
  --light-background: #F4F4F4;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  
}

/* Nav bar styling  */

nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--green-color);
}

nav a {
  color: var(--light-background);
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

/* styling for the header section  */
/*can I have the about me section in the header with pic, H1 and small p about me? or should I better have it in a new section under the header? or best on the side?
/* main project styling // how do I make the image/h1 and p on same row? */

header {
  display: flex;
  flex-wrap: wrap;
  background-color: darkgoldenrod;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

header img {
  max-width:100%;
  border-radius: 10px;
}

header h1 {
  margin-left: 20px;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}

span {
  color: var(--pink-color);
}

.main-project-wrapper {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.main-project {
  background-color: coral;
  border-radius: 10px;
  flex: 0 0 60%
}

/* Can I have another background image when I hover on top of the image?  */

.main-project img {
  width: 100%;
  border-radius: 10px;
}

.main-project-content {
  flex: 0 0 30%;
  align-content: center;
}

.main-project-content h2 {
  
  /* need to center the h2 and p in the middle of the page  */
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  color: #DC88A4;
  
}
.main-project-content p {
  /* need to center the h2 and p in the middle of the page  */
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

/* end of main project styling  */

/* secondary projects styling  */
.secondary-project-wrapper {
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.secondary-project {
  /* how can I make the images smaller?  */
  
  background-color: blueviolet;
  flex: 0 0 33,3%;
  max-width: 33,3%;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 3%), 0 5px 30px rgb(0 0 0 / 10%);
}

/* How I can have those on top of the images? negative margin + position? */

.secondary-project h2 {
  padding: 5px;
  line-height: 26px;
  font-size: 26px;
  background-color: var(--green-color); /*why is the color going all the way and not right after the word ends? */
  border-radius: 10px;
  color: white;
}
.secondary-project img {
  width: 100%;
  border-radius: 10px; 
}
/* end secondary projects styling  */


figure:hover {
  transform: scale(1.03);
  transition: all 200ms ease-in-out;
}

/* styling for footer element  */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  background: var(--pink-color);
  border-radius: 5px;
  color: #fff;
}

/* How do I make the h2 go on top of the links? */

footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  line-height: 30px;
  font-size: 24px;
}

footer a:hover{
  transform: scale(1.1);
  transition: all 200ms ease-out;
}

/* responsive design  */

@media screen and (max-width: 768px) {
  main,
  nav, footer, header,.main-project-wrapper, .secondary-project-wrapper {
    flex-direction: column;
    justify-content: center;
  }
  header {text-align: center;}

  
}